@keyframes move-eye-skew {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg)
      scale(0.95);
  }
  25%,
  44% {
    transform: none;
  }
  50%,
  60% {
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg)
      scaleX(0.95);
  }
  66%,
  100% {
    transform: none;
  }
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 50% 40%,
    #fcfcfc,
    #efeff1 66%,
    #9b5050 100%
  );
}

.ball:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8) 14%,
    rgba(255, 255, 255, 0) 24%
  );
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.iris {
  width: 40%;
  height: 40%;
  margin-left: -48px;
  margin-top: 82px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    #208ab4 0%,
    #6fbfff 30%,
    #4381b2 100%
  );
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  transform: rotateX(90deg) translateZ(-135px) translateX(-125px);
  z-index: -1;
}
.stage {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
}

header {
  margin: auto;
  background: linear-gradient(
    to bottom,
    rgba(100, 100, 100, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
}

@media screen and (min-width: 900px) {
  #modal {
    width: 60% !important;
  }
}

@media screen and (min-width: 700px) {
  .games {
    width: 30% !important;
  }
  #modal {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    top: 50%;
    background-color: white;
    border: 3px solid #9f1a20;
    padding: 20px;
    display: none;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #8a1945;
  margin: 12px 0;
}

.games h2 {
  font-family: "Maven Pro", sans-serif !important;
  color: #9f1a20 !important;
}

input[type="submit"] {
  background-color: #9f1a20;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: large;
  font-weight: 900;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]:hover {
  background-color: white;
  color: #9f1a20;
  border: 2px solid #222222;
}

p {
  font-family: "Open Sans", sans-serif;
  color: rgb(65, 59, 59);
  margin: 8px 0;
}

input[type="text"] {
  border: 2px solid #222222;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 10px;
}

form {
  font-family: "Open Sans", sans-serif;
  color: #9f1a20;
}

body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.container {
  z-index: 0;
}

a {
  font-family: "Open Sans", sans-serif;
  color: #9f1a20;
}

.games {
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  width: 90%;
  text-align: center;
  margin: 20px auto;
}

.games:hover {
  border-radius: 10px;
  box-shadow: 0 0 0 20px #f3adca;
  transition: all 200ms ease-out;
  border-image-source: none;
  border-color: #9f1a20;
  border-width: 2px;
}

.games img {
  width: 66%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.modal {
  position: fixed;
  z-index: 2;
  text-align: center;
  background-color: white;
  border: 3px solid #9f1a20;
  padding: 20px;
  display: none;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal h2,
h3 {
  color: #9f1a20;
}

.modal .loading.modal-image {
  background-size: 65px;
  background-image: url("../images/166.gif") !important;
}

.modal .modal-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.youtube a {
  display: block;
  margin: 10px 0;
  font-size: larger;
}

.youtube iframe {
  width: 100%;
}

.results h3 {
  display: none;
}
